.home {
  padding: 14rem 0 12rem;
  .columns {
    padding: 4rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    .left {
      width: 40%;
      justify-content: center;
      flex-direction: column;
      text-align: justify;
    }

    .right {
      width: 30%;
      justify-content: flex-end;
    }

    .left,
    .right {
      display: flex;
      padding: 0 3rem;
      @media (max-width: 767.98px) {
        width: 50%;
      }
    }
  }

  .hero_title {
    font-size: 9rem;
    letter-spacing: 10px;
    margin: 0 0 3rem;

    @media (max-width: 991.98px) {
      font-size: 7rem;
    }
  }

  .hero_title,
  .circle_text {
    font-family: "Bellefair", serif;
  }

  .hero_text {
    font-family: Arial, Helvetica, sans-serif;
  }

  .hero_paragraph {
    text-align: justify;
    width: 70%;

    @media (max-width: 991.98px) {
      width: 85%;
    }
  }

  .hero_first_title {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 300;
    font-family: "Barlow Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    cursor: pointer;

    .circle_text {
      color: #000000;
      font-size: 1.4rem;
      font-weight: 400;
      position: absolute;
      letter-spacing: 0.2rem;
    }
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
  }
}
